$primary-color: #ff0000;

* {
  font-family: "Nunito Sans", sans-serif;
}

.nav-bar {
  border-bottom: solid #707070 1.2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 19px;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}

p {
  font-size: 18px;
}

.button-primary {
  width: 247px;
  height: 65px;
  background: #1492e6 0% 0% no-repeat padding-box;
  box-shadow: 0px 16px 48px #00000029;
  font-size: 23px;
  border: 0px;
  border-radius: 33px;
  opacity: 1;
  color: white;
}
